apiVersion: apps/v1beta2
kind: Deployment
metadata:
  name: {{ template "zuul.fullname" . }}
  labels:
    app: {{ template "zuul.name" . }}
    chart: {{ template "zuul.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ template "zuul.name" . }}
      release: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app: {{ template "zuul.name" . }}
        release: {{ .Release.Name }}
    spec:
      containers:
        - name: zuul-web
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          command: ["zuul-web", "-d", "-c", "/etc/zuul/zuul.conf"]
          volumeMounts:
            - mountPath: /etc/zuul
              name: zuul-config
          ports:
            - name: http
              containerPort: 9000
              protocol: TCP
          #livenessProbe:
          #  httpGet:
          #    path: /
          #    port: http
          #readinessProbe:
          #  httpGet:
          #    path: /
          #    port: http
          resources:
{{ toYaml .Values.resources | indent 12 }}

        - name: zuul-scheduler
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          command: ["zuul-scheduler", "-d", "-c", "/etc/zuul/zuul.conf"]
          volumeMounts:
            - mountPath: /etc/zuul
              name: zuul-config

        - name: zuul-executor
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          command: ["zuul-executor", "-d", "-c", "/etc/zuul/zuul.conf"]
          volumeMounts:
            - mountPath: /etc/zuul
              name: zuul-config

    {{- with .Values.nodeSelector }}
      nodeSelector:
{{ toYaml . | indent 8 }}
    {{- end }}
    {{- with .Values.affinity }}
      affinity:
{{ toYaml . | indent 8 }}
    {{- end }}
    {{- with .Values.tolerations }}
      tolerations:
{{ toYaml . | indent 8 }}
    {{- end }}

      volumes:
        - name: zuul-config
          configMap:
            name: {{ template "zuul.fullname" . }}
